<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
              aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Project name</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">Menu1</a></li>
        <li><a href="#contact">Menu2</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
<div class="container">
  <div class="wrap">
    <!--<h1>Searching....</h1>-->
    <!--<p class="lead"></p>-->
    <div id="ripple">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <!--<div class="circle"></div>-->
      <div class="triangle"><%= image_tag("matching_center.png") %></div>
    </div>
    <div id="users">
      <div id="user1">
        <div class="icon_wrap"><%= image_tag("icon/kanao.png", {"class" => "icon non_active", "id" => 1})%></div>
        <p class="name">kanao</p>
      </div>
      <div id="user2">
        <div class="icon_wrap"><%= image_tag("icon/ikemura.png", {"class" => "icon non_active", "id" => 2})%></div>
        <p class="name">ikemura</p>
      </div>
      <div id="user3">
        <div class="icon_wrap"><%= image_tag("icon/komuro.png", {"class" => "icon non_active", "id" => 3})%></div>
        <p class="name">komuro</p>
      </div>
      <div id="user4">
        <div class="icon_wrap"><%= image_tag("icon/matsumoto.png", {"class" => "icon non_active", "id" => 4})%></div>
        <p class="name">matsumoto</p>
      </div>
      <div id="user5">
        <div class="icon_wrap"><%= image_tag("icon/matuda.png", {"class" => "icon non_active", "id" => 5})%></div>
        <p class="name">matsuda</p>
      </div>
    </div>
  </div>

  <div class="arrow">
    <%= image_tag("icon_triangle.png") %>
  </div>
  <div class="category">
    <div class="row">
      <div class="col-xs-12">
        <button class="btn" onclick="goToEnquete()">
          <span class="category_title"><<%= image_tag("pict/restraunt_title.png", {"class" => "category_title"})%></span><br>
          <img <%= image_tag("pict/restraunt.png", {"class" => "pict"})%>>
        </button>
        <button class="btn">
          <span class="category_title"><<%= image_tag("pict/healthcare_title.png", {"class" => "category_title"})%></span><br>
          <img <%= image_tag("pict/healthcare.png", {"class" => "pict"})%>>
        </button>
      </div>
      <div class="col-xs-12">
        <button class="btn">
          <span class="category_title"><<%= image_tag("pict/hobby_title.png", {"class" => "category_title"})%></span><br>
          <img <%= image_tag("pict/holiday.png", {"class" => "pict"})%>>
        </button>
        <button class="btn">
          <span class="category_title"><<%= image_tag("pict/hobby_title.png", {"class" => "category_title"})%></span><br>
          <img <%= image_tag("pict/hobby.png", {"class" => "pict"})%>>
        </button>
      </div>
    </div>
  </div>
</div>
<script>
  $(function() {

    $(".icon_wrap .icon").click(function(){
      if($(this).hasClass("non_active")){ // クリックされた要素がclickedクラスだったら
        $(this).removeClass("non_active");
        $(this).addClass("active");
      }else{
        $(this).removeClass("active");
        $(this).addClass("non_active");
      }
    });
  });
  function goToEnquete(){
    var arr = []
    $( ".icon.active" ).each(function() {
      arr.push("users%5B%5D=" + this.id)
    });
    var param = arr.join("&");
    // TODO: production書き換え
    var url = "http://localhost:3000/users/1/survey?" + param
    window.location.href = url
  }
</script>