<div class="container">
  <div class="result_wrap">
    <h3>YOUR MEMBER</h3>
    <div id="matched_group">
      <%- @users.each do |user| %>
          <%= render :partial => "user_icon", :locals => { :name => user.nick_name, :icon_path => user.icon_path } %>
      <%- end %>
    </div>
    <table class="table search_word">
      <tr><th>検索ワード</th><th>遺伝子</th></tr>
      <%- @keywords.each do |keyword| %>
        <tr><td><%= keyword.keys.first %></td><td><%= keyword[keyword.keys.first][0] %></td></tr>
      <%- end %>
    </table>
    <div id="store_list">
      <%- @shops.each_with_index do |shop, idx| %>
          <div class="flex-container">
            <div class="sotre flex-left">
              <p class="rank">RECOMMEND <%= idx %></p>
              <p class="store_name"><%= shop.name %></p>
              <p class="store_address"><%= shop.address %></p>
              <p class="money"><%= shop.budget.average %></p>
              <p class="tabelog_link"><%= link_to(shop.contact, "食べログで見る") %></p>
            </div>
            <div class="flex-right">
              <p class="food_img"><%= image_tag(shop.photo.pc.l) %></p>
            </div>
          </div>
      <%- end %>
    </div>
    <div style="height: 30px">もっと見る</div>
  </div>
</div>
</div>